{% extends "base.html" %}

{% block title %} Список изображений {% endblock title%}

{% block content %}

    <h2> Список изображений</h1>
    <p>
      <button type="submit" onClick="location.href='{% url "images:upload" %}'">Загрузить изображение</button>
    </p>
    {% for object in object_list %}
        <li><a href="{% url "images:detail" object.pk %}">{{ object.image.name }}</a></li>
    {% empty%}
        <li>Нет доступных изображений. Загрузите!</li>
    {% endfor %}

{% endblock content %}

